.display-4 { 
    text-align: center;
    font-size: 50px;
    color: turquoise;
}
#btn-start {
    display: flex;
    justify-content: center;
}
.jumbotron { 
    margin-top: 20px;
    max-width: 650px;
    background-color: white;
    border: 2px solid black;
}
.timer {
    text-align: end;
}
.highscores {
    text-align: left;
    font-size: small;
}
.btnClick {
    border: 1px solid black;
    background: papayawhip;
    color: saddlebrown;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    padding: 5px;
}
#right-or-wrong {
    text-align: center;
    color: royalblue;
    font-size: medium;
    font-weight: bold;
}
#highheader {
    text-align: center;
}
#displayedScores {
    text-align: center;
}
#highscore-container {
    display: flex;
    justify-content: center;
    border: 1px solid black;
}
#go-back {
    border: 1px solid black;
    background: papayawhip;
    color: saddlebrown;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    padding: 5px;
}
#clear-highscore {
    border: 1px solid black;
    background: papayawhip;
    color: saddlebrown;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    padding: 5px;
}